.container_screen {
  flex: 1;
  background-color: #ffffff;
  padding: 16px;
}

.filter {
  position: relative;
  display: inline-block;
  padding: 12px;
  width: 100%;
  margin-top: 8px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination button {
  padding: 12px;
  border: none;
}
